<div class="dashboard-container">
  <h2>My Assigned Tasks</h2>
  
  <div class="task-cards-container">
    <div 
      class="task-card" 
      *ngFor="let task of tasks"
      [ngClass]="{'completed': task.status === 'TELJESÍTVE', 'postponed': task.status === 'ELHALASZTVA'}"
    >
      <h3>{{ task.title }}</h3>
      <p><strong>Due Date:</strong> {{ task.dueDate | date: 'yyyy-MM-dd' }}</p>
      <p><strong>Current Status:</strong> {{ task.status }}</p>
      <p><strong>Task Type: </strong>{{task.type}}</p>
      
      <div class="status-update" *ngIf="task.status !== 'TELJESÍTVE' && task.status !== 'ELHALASZTVA'">
        <label for="statusSelect">Update Status:</label>
        <select 
          id="statusSelect" 
          [(ngModel)]="task.status" 
          (change)="updateTaskStatus(task, task.status)"
        >
          <option *ngFor="let status of statusOptions" [value]="status">
            {{ status }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
