.home-container {
    padding: 1rem;
  }
  
  .project-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .project-card {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
  }
  
  .project-card h3 {
    margin: 0;
    color: #007bff;
  }
  .offer-button {
    background-color: #007bff;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .offer-button:hover {
    background-color: #0056b3;
  }

  .order-button {
    background-color: #007bff;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    margin-left: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .order-button:hover {
    background-color: #0056b3;
  }
  .rejected-status {
    color: red;
    font-weight: bold;
    margin-top: 0.5rem;
}

